// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

#app-root.theme-light {
  @include themify($themes) {
    $theme-colors: () !default;
    $theme-colors: map-merge(
                    (
                            "primary": themed('blue'),
                            "secondary": themed('gray'),
                            "success": themed('green'),
                            "info": themed('cyan'),
                            "warning": themed('orange'),
                            "danger": themed('red'),
                            "light": themed('light'),
                            "dark": themed('dark')
                    ),
                    $theme-colors
    );
  }
}


html, body {
  height: 100%;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar.navbar-dark{
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.breadcrumbs-wrapper {
  margin-bottom: 20px;
}

.content-container {
  background: #ffffff;
  padding-top: 20px;
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.btn.btn-default {
  background: #ffffff;

  &.active {
    background: #e6e6e6;
  }
}

.page-actions {
  @extend .col-12;
  margin-bottom: 20px;

  a.action {
    @extend .btn, .float-right, .btn-sm, .btn-outline-light;
  }
}

.table.table-neon {
  &.table-dark {
    thead {
      th {
        color: #03DAC6;
        background: #000000;
        text-transform: uppercase;
        font-weight: bolder;
      }
    }
  }

  thead {
    th {
      color: #000000;
      background: #03DAC6;
      text-transform: uppercase;
      font-weight: bolder;
    }
  }
}

.card.card-dark-header{
  .card-header {
    @extend .bg-dark;
  }
}